In [12]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_csv('F:\Kaggle_Competition\weather.csv')
data.head()

,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Temp
0,6.3,6,20,68,29,1019.7,1015.0,14.4,23.6,24.3
1,9.7,4,17,80,36,1012.4,1008.4,17.5,25.7,26.9
2,3.3,6,6,82,69,1009.5,1007.2,15.4,20.2,23.4
3,9.1,30,24,62,56,1005.5,1007.0,13.5,14.1,15.5
4,10.6,20,28,68,49,1018.3,1018.5,11.1,15.4,16.1

In [14]:
X=data.drop(columns='Temp')
y=data['Temp']

In [15]:
X.head()

,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,6.3,6,20,68,29,1019.7,1015.0,14.4,23.6
1,9.7,4,17,80,36,1012.4,1008.4,17.5,25.7
2,3.3,6,6,82,69,1009.5,1007.2,15.4,20.2
3,9.1,30,24,62,56,1005.5,1007.0,13.5,14.1
4,10.6,20,28,68,49,1018.3,1018.5,11.1,15.4

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [17]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()

In [19]:
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [21]:
y_prediction=regressor.predict(X_test)

In [29]:
y_prediction

array([23.4, 27.9, 32.1, 16.1])